*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.2s;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.chartContainer{
    display: inline-flex;
    position: relative;
    margin-top: 55px;
}
.chartContainer > h1{
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

.chart{
    position: relative;
    display: inline-flex;
    height: 500px;
    width: 50vw;
    /* background: #ffddde; */
}

.chart::after {
    content: attr(data-packets);
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
}

nav.footer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); /* Standard syntax */
    color: #fdfdfd;
}

nav.footer > span {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

nav.footer > span > span {
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;    
    bottom: -5px;
}

nav.footer > span:hover {
    color: rgba(100,250,200,1);
}

nav.footer > span:hover > span{
    width: 100%;
}
    
